*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/ijkplayer/android/contrib/build/
/ijkplayer/extra/
/ijkplayer/android/contrib/ffmpeg-*/
/ijkplayer/android/contrib/x264/
